<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd   
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- spring thread pool executor -->           
    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <!-- 线程池维护线程的最少数量 -->
        <property name="corePoolSize" value="${core.pool.size}" />
        <!-- 线程池维护线程的最大数量 -->
        <property name="maxPoolSize" value="${max.pool.size}" />
        <!-- 线程池缓存队列容量 -->
        <property name="queueCapacity" value="${queue.capacity}" />
        <!-- 对拒绝task的处理策略 -->
        <property name="rejectedExecutionHandler">
            <bean class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy" />
        </property>
    </bean>

	<!-- zookeeper registry center -->
	<bean id="registryCenter" class="com.hexun.gateway.zookeeper.ZookeeperRegistryCenter">
		<property name="servers" value="${zookeeper.servers}"/>
		<property name="namespace" value="${zookeeper.namespace}"/>
	</bean>
	
</beans>